html {
  font-size: 18px;
  line-height: 1.35;
  padding: 60px 40px 40px;
}

body {
  margin: 0 auto;
  width: 560px;
  text-align: justify;
}

h1 {
  font-size: 48px;
  letter-spacing: 0.1em;
  line-height: 1.1;
  margin: 0 0 40px;
  text-align: center;
  text-transform: uppercase;
}

p {
  margin: 0 0 20px;
}

.shape {
  height: 1020px; 
  width: 50%;
  /* background: rgba(red, 0.1); */ /* Commented line, but it's invalid as is */
}

.shape--left {
  float: left;
  shape-outside: polygon(0px 0px, 82px 0px, 31px 70px, 8px 184px, 18px 311px, 53px 443px, 107px 531px, 119px 611px, 81px 753px, 76px 863px, 34.65% 101.95%, 2.15% 102.35%);
}

.shape--right {
  float: right;
  shape-outside: polygon(100% 0%, 75.7% 0.55%, 55.7% 12.85%, 51.8% 23.1%, 57.15% 33.75%, 82.15% 49.6%, 80.7% 62.9%, 52.85% 85.55%, 0% 100%, 100% 100%);
}
